@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*nav bar*/

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo
{
    color: #E8B1C0;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: lowercase;
    letter-spacing: 2px;
}

header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    list-style: none;
    margin-left: 20px;
}

header ul li a 
{
    text-decoration: none;
    padding: 6px 15px;
    color: #302928;
    border-radius: 20px;
}

header ul li a:hover ,
header ul li a.active
{
    background:#E8B1C0;
    color: #fff; 
}


/*pic*/

.pic {
    position: absolute;
    width: 630px;
    right: 0;
    top: 107px;
    left: 0;
}

/*text*/

.hi {
    font-size: 3.5rem;
    color: #E8B1C0;
    font-weight: 700;
    position: absolute;
    text-align: center;
    top: 180px;
    right: 0;
    left: 605px;
}

.nicknames {
    font-size: 1.4rem;
    font-style: italic;
    color: #A27F88;
    position: absolute;
    text-align: center;
    top: 365px;
    right: 0;
    left: 612px;
}

.firstparag {

    font-size: 1.2rem;
    position: absolute;
    color: #7B7B76;
    text-align: justify;
    text-indent: 60px;
    top: 425px;
    right: 0;
    left: 710px;

}


.secondparag {

    font-size: 1.2rem;
    position: absolute;
    color: #7B7B76;
    text-align: justify;
    top: 500px;
    right: 0;
    left: 710px;

}

.resume {
    font-weight: 100;
    font-size: 1rem;
    transition: all 300ms ease;
    padding: 1rem;
    width: 22rem;
    border-radius: 2rem;
    border: #E8B1C0 solid;
    position: absolute;
    top: 39rem;
    left: 56rem;
    background: white;
    color: #E8B1C0;
    
  }
  
  .resume:hover {
    background: #E8B1C0;
    color: #fff;
  }